<!--
Matrikelnummern:
- 9122564
- 2227134
- 3886565
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .testborder {
            border-style: solid;
        }
        img {
            max-height: 100px;
        }
    </style>
</head>
<body>
    <h1>Order</h1>
    <p>Ihr gewünschte Bestellung:</p>
    <br>
    <hr>
    <br>
    <div>
        {{ range .OrderElementsData }}
        <div>
            <p class="testborder">
                <img src="{{ .ImagePath }}">
                <br>
                Image Name: {{ .Name }}
                <br>
                Amount: {{ .Amount }}
                <br>
                Format: {{ .Format }}
                <br>
                <a href="/order?delete={{ .ID }}">Delete this Item</a>
            </p>
        </div>
        {{ end }}
    </div>
    {{ if .OrderElementsData }}
    <a href="/order?deleteAll=1">Delete All</a>
    <br>
    <a href="/order?order=1">Bilder bestellen</a>
    {{ end }}
</body>
</html>