<!--
Matrikelnummern:
- 9122564
- 2227134
- 3886565
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .testborder {
            border-style: solid;
        }
    </style>
</head>
<body>
    <h1>Order</h1>
    <p>Ihr gewünschte Bestellung:</p>
    <br>
    <hr>
    <br>
    <div>
        {{ range .OrderElementsData }}
        <div>
            <p class="testborder">
                <img src="{{ .ImagePath }}">
                <br>
                Image Name: {{ .Name }}
                <br>
                Amount: {{ .Amount }}
                <br>
                Format: {{ .Format }}
            </p>
        </div>
        {{ end }}
    </div>
</body>
</html>